.banner{
    height: 919px;
    width: 100%;
    position: relative;
    
    .banner-text{
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        text-align: center;
        
        h1{
            font-size: 40px;
            font-weight: bold;
        }
        h2{
            font-size: 30px;
            color: #707070;
        }

        a{
            margin: 20px auto;

        }
        

        .bext{
            display: flex;
            margin: 20px auto;
            flex-wrap: wrap;

            p{
                text-align: left;
                margin: 20px auto;
            }

            .bimg{
                width: 100%;
                display: none;
                img{
                    
                    height: auto;
                   
                }
            }

            
        }
        
    }

    .banner-img{
        .inner-b{
        height: 440px;
        width: 100%;
   
        right: 1px;
        top: -100px;
        }
        .inner-b2{
            height: 230px;
            width: 100%;
           
            bottom: 8%;
            right: -77px;
            background-image: url(../img/Image2.png);
            background-repeat: no-repeat;
        }

    }

    #back{
        position: absolute;
        top: 0;
        display: none;
    }
}