.galary{
    width: 100%;

    margin: 103px 0 38px 0;

    h2 {
        margin-bottom: 65px;
        font-size: 42px;
        font-family: 'Raleway';
        margin-left: 60px;
        span{
            font-size: 22px;
            color: #019D6E;
            margin-bottom: 10px;
        }
    }

    img {
        margin-bottom: 20px;
        width: 100%;
    }

}